@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    // background: purple;
}

#header {
    padding: 40px 0 0 0;
    .logo {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 36px;
        display: inline-block;
    }
    .menu {
        display: inline-block;
        float: right;
        a {
            font-size: 16px;
            font-weight: 300;
            text-transform: uppercase;
            text-decoration: none;
            li {
                padding: 10px 15px 0 0;
                display: inline-block;
            }
            &:hover {
                color: red;
            }
        }
    }
}

#content-area {
    .model {
        display: inline-block;
        float: left;
        width: 50%;
        text-align: center;
        // background: red;
        img {
            max-width: 500px;
        }
    }
    .info {
        display: inline-block;
        width: 50%;
        h5 {
            display: inline-block;
            background: red;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 700;
            color: #fff;
            padding: 5px 8px;
        }
        h1 {
            font-size: 44px;
            font-weight: 700;
            color: #000;
            line-height: 1.3;
            margin: 24px 0;
        }
        p {
            font-weight: 100;
            line-height: 1.5;
        }
        .size {
            .title {
                font-size: 14px;
                font-weight: 500;
            }
            .sizes {
                li {
                    font-size: 12px;
                    display: inline-block;
                    border-radius: 50%;
                    border: 1px solid #000;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    &.circle {
                        height: 30px;
                        width: 30px;
                        padding: 10px 0;
                    }
                    &.semi-circle {
                        height: 30px;
                        padding: 10px 20px;
                        border-radius: 30px;
                    }
                }
            }
        }
    }
}